<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title>More about this app</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class = "about">
      <ion-text>
      <h1>Ambient light is any light a photographer or cinematographer did not bring to the shoot. 
      Also known as available light, it's any light that you haven't set up yourself. This includes natural 
      light or even pre-existing lighting built in and around the location where you're shooting.
      Bad ambient light can be found in pictures taken where there were not enough light around. 
      This causes the images to look bad. Our app tells the user when the image have bad ambient light
    </h1>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
