<ion-header>
  <ion-toolbar>
    <ion-title>SignUp</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  
  
  <ion-card>
  <ion-card-header>
    <ion-card-subtitle>SignUp</ion-card-subtitle>
    <br>
    <ion-card-title>Enter email and Password</ion-card-title>
  </ion-card-header>

 
    <ion-card-content>
      <img left="25%" width="40%" height="40%"src="assets/icon/Logo.png">
      <br>
      <br>
      <ion-item>
        <ion-input [(ngModel)]="userDetails.email" placeholder="Username"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input [(ngModel)]="userDetails.password" placeholder="Password" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input [(ngModel)]="userDetails.confirmPassword" placeholder="Type Password again" type="password"></ion-input>
      </ion-item>
      <br>
      <br>
      <ion-button (click)="registerUser()">Sign Up</ion-button>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </ion-card-content>
  </ion-card>
  </ion-content>


<!-- <ion-content>
  <ion-card-content>
    <ion-item>
      <ion-input placeholder="Username"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input placeholder="Password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Type Password again" type="password"></ion-input>
    </ion-item>
    <ion-button (click)="goToHome()">Sign Up</ion-button>
  </ion-card-content>
</ion-content> -->
