<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME PAGE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-card >
    <ion-card-content class = "first">
      <ion-text  color="dark">
        <h1> AppName</h1>
      </ion-text>
      <br>
      <img src="assets/icon/Logo.png">
      <br>
      
    </ion-card-content>
  </ion-card>


  <ion-card >
    <ion-card-content class = "second">
      <ion-button expand ="block" (click)= "goToCamera()">Camera</ion-button>
      <ion-button expand ="block" (click)= "goToImages()">View Images</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>


