<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME PAGE
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- App Name -->
<ion-content>
  <ion-card >
    <ion-card-content class = "name">
      <ion-text  color="dark">
        <h1> Luke Warm Lights</h1>
      </ion-text>
    </ion-card-content>
  </ion-card>
 
  <!-- Logo -->
  <ion-card >
    <ion-card-content class = "first">
      <br>
      <img src="assets/icon/Logo.png">
      <br>
      
    </ion-card-content>
  </ion-card>

  <!-- The buttons -->
  <ion-card >
    <ion-card-content class = "second">
      <ion-button expand ="block" (click)= "goToCamera()">Camera</ion-button>
      
    </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-card-content class = "third">
      <ion-button expand ="block" (click)= "goToImages()">View Images</ion-button>
      
    </ion-card-content>
  </ion-card>
  <ion-card >
    <ion-card-content class = "fourth">
      <ion-button expand ="block" (click)= "goToAbout()">About?</ion-button>
      
    </ion-card-content>
  </ion-card>

</ion-content>


