<ion-header>
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
     
      <br>
      <ion-card-title>Enter email and Password</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img left="25%" width="40%" height="40%"src="assets/icon/Logo.png">
      <br>
      <br>
      <ion-item>
        <ion-input placeholder="Username"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input placeholder="Password" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-button (click)= "loginUser()">Login</ion-button>
      <br>
      <br>
      <ion-text color="dark">
        <h1>Don't have an account?</h1>
      </ion-text>
      <br>
      <ion-button (click)= "goToSignup()">Sign Up</ion-button>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
     
    </ion-card-content>
  </ion-card>

</ion-content>
