<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Login or signup</ion-card-subtitle>
      <br>
      <ion-card-title>Enter email and Password</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="Username"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input placeholder="Password" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-button (click)= "loginUser()">Login</ion-button>
      <br>
      <br>
      <ion-text color="dark">
        <h1>Don't have an account?</h1>
      </ion-text>
      <br>
      <ion-button (click)= "goToSignup()">Sign Up</ion-button>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </ion-card-content>
  </ion-card>

</ion-content>
