<ion-header>
  <ion-toolbar>
    <ion-title>Camera</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img [src]="photo" >

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <img [src]="picture" >

  <ion-card >
    <ion-card-header>
      <!-- The header -->
      <ion-card-title>Insights</ion-card-title>
    </ion-card-header>
  
    <!-- Insight text - comes from the JS variable insights in camera.page.ts -->
    <ion-card-content class = "about">
      <ion-text color="dark">
      <h1>{{insights}}
        
      </h1>
      </ion-text>
    </ion-card-content>
  </ion-card>
 
</ion-content>

